<form>
  <div>
    <label for="account">Account</label>
    <input id="account" name="account" type="text" [(ngModel)]="user.account">
  </div>

  <div>
    <label for="password">Password</label>
    <input id="password" name="password" type="password" [(ngModel)]="user.password">
  </div>

  <div>
    <label for="confirmPassword">Confirm Password</label>
    <input id="confirmPassword" name="confirmPassword" type="password" [(ngModel)]="user.confirmPassword">
  </div>

  <div>
    <button type="button" (click)="register()">Register</button>
  </div>
</form>
